PORT=4000
WEB_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://postgres.dtissxgxhkffkeabaclk:jobnest6063@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.dtissxgxhkffkeabaclk:jobnest6063@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"
JWT_ACCESS_SECRET=9b5bedeb7baabab62091d6f963c3663758e62b74cebbce99108bfdbc1f7822f003b070ca1e817b866f63c67eb00f0ccec4fab40aebcec79b510d9705726630f7
JWT_ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=7